* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #181818;
}

li,
a,
button {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 1rem;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
}

.main-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #010101;
  border-radius: 0.5rem;
  opacity: 0.8;
  padding: 1rem 0.5rem;
  width: 75%;
  height: 5rem;
}

.logo {
  cursor: pointer;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 2rem;
}

.nav-links li a {
  color: #fe6f27;
  transition: all 0.5s ease 0s;
}

.nav-links li a:hover,
.nav-links li a:active {
  color: rgba(254, 111, 39, 0.8);
}

.cta-button button {
  padding: 0.5rem 1.5rem;
  color: #fe6f27;
  background-color: transparent;
  border: 0.2rem solid #fe6f27;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease 0;
}
